// Define variables for your color scheme

// For example:
//our figma colors
$blue: #002366;
$lightblue: #758edc;
$black: #0f1a36;
$lightgray: #DDDDDD;
$white: #FCFCFC;
//standard colors
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
