
<div class="infobox">
  <div>
    <p><i class="fas fa-bolt"></i> <%= incident.category %></p>
    <p><%= incident.date.strftime("%A, %d %B ") %>, <%= incident.time.strftime("%-l:%M %P") %></p>
  </div>
  <div>
    <p><%= incident.description %></p>
  </div>
  <div>
    <%#=@incident.photo.attached?  %>
    <%#= @incident.photos.each.do |photo| %>
    <%#= cl_image_tag photo.key,  %>
  </div>
</div>
