<%# Toggle for switching views %>
<div class="position-relative top-0" data-controller="slider">

  <div class="position-absolute start-50 translate-middle-x layer-test">
    <div class="switch">
      <input name="radio" type="radio" value="optionone" id="optionone" checked>
      <label for="optionone"><i class="fas fa-map"></i></label>

      <input name="radio" type="radio" value="optiontwo" id="optiontwo">
      <label for="optiontwo" class="right"><i class="fas fa-signal"></i></label>

      <span aria-hidden="true" id="toggle-slider" data-toggle-target="span"></span>
    </div>
  </div>

  <%# View #1 - MAP %>
  <div style="width: 100%; height: 100vh;" class="map" id="main_content"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <%# View #2 - STATS %>
  <div class="my-container d-none" id="secondary_content", data-controller="charts">
    <%= render 'shared/stats' %>
  </div>
</div>
