.incident-card {
  box-sizing: border-box;
  max-width: 960px;
  margin: 20% ;
  align-items: center;
}

.incident-photo-big {
  height: 20vw;
  width: 20vw;
  display: inline-block;
  margin: 10px
}
