.icon-small  {
  width: 20px;
  height: 20px;
}

.carousel-action {
  button {
    padding: 12px 0;
    align-items: flex-start;
  }
}

.carousel {
  p {
    margin: 0px;
    padding: 12px 0;
    font: 16px "Montserrat", "Open Sans";
  }

  hr {
    margin: 0;
  }
}
