//show.html
.incident-card {
  box-sizing: border-box;
  max-width: 960px;
  margin: 15% ;
  align-items: center;
  text-align: center;
}
.incident-time {
  display: block;
  border-bottom: 3px solid lightblue;
}
.show-header {
  display: block;
  margin: 5px;
}
.incident-header {
  background: lightblue;
  margin-left: auto;
  margin-right: auto;
}
.handphone{
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

}
.incident-description {
  display: block;
}
.incident-photo-big {
  height: 40vw;
  width: 40vw;
  display: inline-block;
  margin: 10px
}

//info-window
//.incident-photo-small {
  //height: 25vw;
  //width: 25vw;
  //display: inline-block;
  //margin: 10px
//}
.infobox > a {
  text-decoration: none;
  font-size: 16px;
  color: #0f1a36;
  font-family: "Monsterat", "Open Sans";
}

.line-small {
  border: 5px solid $lightblue;
  width: 50px;
  margin: 5px auto;
}

.title-infowindow {
  display: inline-block;
  padding: 2px;
  align-items: center;
}
.infobox {
  bottom: 0 !important;
}

.see-more {
  font-weight: bold;
  border-bottom: 3px solid $lightblue ;
  padding-bottom: 3px;
}

@media (max-width: 540px) {
  /* For a screen < 720px, this CSS will be read */
  .incident-photo-big {
    height: 30vw;
    width: 30vw;
    display: inline-block;
    margin: 10px
  }

}
@media (max-width: 390px) {
  /* For a screen < 540px, this CSS will be read */

  .incident-photo-big {
    height: 25vw;
    width: 25vw;
    display: inline-block;
    margin: 10px
  }
}
