// .form-label {
//   display: none;
// }

.form-control {
  width: 100%;
  border-radius: 10px;
}

.form-select {
  width: 100%;
  border-radius: 10px;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: $primary;
  border: 1px solid $primary;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $primary;
  color: white;
}
