// .form-label {
//   display: none;
// }

.form-control {
  width: 100%;
  border-radius: 8px;
  background-color: white;
}

.form-select {
  width: 100%;
  border-radius: 8px;
  margin: 0px !important;
  background-color: white;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 50rem;
  padding: 0.3rem 0.8rem;
  background-color: #fcfcfc;
  color: $primary;
  border: 1px solid $primary;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $primary;
  color: white;
}

.login-logo {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  margin: 5vw 0px;
  border-radius: 50%;
}

@media (min-width: 385px) {
  .incident_date {
    width: 60%;
  }

  .incident_time {
    width: 38%;
  }
}
