.mapboxgl-popup {
  position:absolute;
  bottom: 0 !important;
  width: 100%;
  height: 35%;
}

.popups {
  position: absolute;
  bottom: 0px;
  height: 25%;
  width: 100%;
  transform: translateY(60vh) !important;
  max-width: 100% !important;
  transform: inherit !important;
  transition-timing-function: ease-in;
  /* Quick on the way out */
  //transition: 5s;
  overflow: hidden !important;
}


.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  display:none !important;
}

.mapboxgl-popup-content {
  text-align: center;
  //display: block;
  overflow: scroll;
  border-radius: 20px;
  padding: 10px 30px 10px;
  background: #fdfdfd !important;
  // background-color: #f1f1f1 !important;
  //margin-left: 58px;
}
.mapboxgl-popup {
  top: 73% !important;
  will-change: none !important;
}
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height:100vh;
}

.mapboxgl-ctrl-geocoder {
  max-width: none !important;
  width: 100% !important;
  border: 1px solid lightgrey;
  border-radius: 10px !important;
  box-shadow: none !important;
}

@media (max-width: 760px) {
  .mapboxgl-popup {
    top: 70% !important;
    will-change: none !important;
  }
}
@media (max-width: 540px) {
  /* For a screen < 720px, this CSS will be read */
  .map {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }
  .mapboxgl-popup {
    top: 70% !important;
    will-change: none !important;
  }
}
@media (max-width: 375px) {
  /* For a screen < 540px, this CSS will be read */

  .map {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .mapboxgl-popup {
    top: 65% !important;
    will-change: none !important;
  }
}
