.mapboxgl-canvas {
  position: relative;
}

.mapboxgl-popup {
  width: 100%;
  //height: 35%;
}

.popups {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 25vh !important;
  transform: translateY(60vh) !important;
  max-width: 100% !important;
  transform: inherit !important;
  transition-timing-function: ease-in;
  /* Quick on the way out */
  transition: 5s;
  overflow: hidden !important;
}


.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  display:none !important;
}

.mapboxgl-popup-content {
  text-align: center;
  display: block;
  overflow: scroll;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  padding: 8px 0px 24px 0px !important;
  // background-color: #f1f1f1 !important;
  //margin-left: 58px;
}
.mapboxgl-popup {
  top: 11% !important;
  will-change: none !important;
}
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height:100vh;
}

.mapboxgl-ctrl-geocoder {
  max-width: none !important;
  width: 100% !important;
  border: 1px solid lightgrey;
  border-radius: 10px !important;
  box-shadow: none !important;
}


.mapboxgl-ctrl-geocoder mapboxgl-ctrl {
  background-color: none !important;
  margin : 0px 0px !important;
}

.mapboxgl-ctrl-geocoder {
  border: none !important;
  opacity: 0 ;
}

.mapboxgl-ctrl-geocoder--icon mapboxgl-ctrl-geocoder--icon-search {
  color: #dddddd;
}
@media (max-width: 540px) {
  /* For a screen < 720px, this CSS will be read */
  .map {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 375px) {
  /* For a screen < 540px, this CSS will be read */

  .map {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}
