.navbar-safeblok {
  width: 100%;
  position: fixed;
  background-color: white;
  bottom: 0;
  z-index: 10;
  box-shadow: 0px -1px 10px #DDDDDD;

  .my-container {
    margin-top: 0;
  }
}

.fas {
  font-size: 24px;
}

.navbar-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
    margin: 8px;
  }
}

.navbar-plus {
  border-radius: 50%;
  background: $lightblue;
  width: 52px;
  height: 52px;
  margin-top: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;

  .fas {
    color: white;
  }
}
