// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  h1 {
    font-size: 24px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 896px) {
  h3,
  .h3 {
    font-size: calc(0.5rem);
  }

  h1 {
    font-size: 24px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .phone {
    background: #fafafa;
    box-shadow: 0 0 1em rgba(black, 0.3);
    height: 100%;
    left: 50%;
    max-height: 568px;
    max-width: 430px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: scroll;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
    align-items: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .phone {
    background: #fafafa;
    box-shadow: 0 0 1em rgba(black, 0.3);
    height: 100%;
    left: 50%;
    max-height: 568px;
    max-width: 430px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;

    &:before {
      display: none;
      position: absolute;
      background: rgba(black, 0.8);
      bottom: 0;
      color: rgba(white, 0.4);
      display: none;
      font-size: 5em;
      line-height: 6;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
      z-index: 2;
    }
  }
  .phone__screen {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    // padding-top: 3em;
    position: relative;
    width: 100%;

    h2 {
      font-size: calc(1.325rem);
    }
  }
}

h3,
.h3 {
  font-size: calc(1.3rem);
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .phone {
    background: #fafafa;
    box-shadow: 0 0 1em rgba(black, 0.3);
    height: 100%;
    left: 50%;
    max-height: 568px;
    max-width: 430px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
